{
    "ApiConfig":  {
                      "DeviceId":  "",
                      "OrganizationGroupId":  570,
                      "Server":  "https://as947.awmdm.com",
                      "ApiKey":  "iEUFCJi73PP+/4fAd5vXT0IanXfUs86PQhbV2lt/uP4=",
                      "ApiAuth":  "Basic d2luMTBhcGl1c2VyOkVjbjBPTzNFazM3JA==",
					  "SSLThumbprint": "26f16b9616791ad818fa33c05070c0453743b84c"
                  }
}
